{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row w-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0 fs-5">Umrah Details</p>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addModal"><i class='bx bx-plus'></i> Add umrah details</button>
                    </div>
                    <!-- seacrch input -->
                    <form action="{% url 'umrah-details' %}" method="GET">
                        {% csrf_token %}
                        <div class="search-person border-outline-dark col-12 bg-secondary-subtle p-1 d-flex mt-2 text-muted">
                            <div class="input-group border-outline-dark">
                                <span class="input-group-text bg-white">
                                    <i class="fa-solid fa-magnifying-glass text-muted"></i>
                                </span>
                                <input type="text" class="form-control bg-white" name="search" placeholder="Search detail..." value="{{ search_query }}">
                            </div>
                            <button type="submit" class="btn btn-white bg-white border ms-2">Search</button>
                        </div>
                    </form>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-lg-12 mt-3">
                                <div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Title</th>
                                                <th>City</th>
                                                <th>Hotel Name</th>
                                                <th>Address</th>
                                                <th>Limited Time Offer</th>
                                                <th>Offer Type</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for offer in offer_detail %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ offer.document_name }}</td>
                                                <td>{{ offer.city }}</td>
                                                <td>{{ offer.hotel_name }}</td>
                                                <td>{{ offer.address }}</td>
                                                <td>{{ offer.limited_time_offer.umrah_details.package_name }}</td> <!-- Corrected -->
                                                <td>{{ offer.offer_type.offer_type }}</td>
                                                <td class="d-flex flex-row gap-2">
                                                    <!-- Add buttons or actions if needed -->
                                                </td>
                                                <td class="d-flex flex-row gap-2">
                                                    <div>
                                                        <!-- Update Button -->
                                                        <button class="btn btn-warning btn-sm mx-1 edit-btn" 
                                                            data-id="{{ offer.id }}" 
                                                            data-category="{{ offer.offer_type.id }}" 
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#updateModal{{ offer.id }}">
                                                            <i class="bx bx-edit-alt"></i>
                                                        </button>
                                    
                                                        <!-- Delete Button -->
                                                        <a href="{% url 'delete-offer-details' offer.id %}" 
                                                           class="btn btn-danger btn-sm mx-1" 
                                                           onclick="return confirm('Are you sure you want to delete this?');">
                                                            <i class="bx bx-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                    
                                            <!-- Update Modal -->
                                            <div class="modal fade modal-lg" id="updateModal{{ offer.id }}" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="updateModalLabel">Update Offer Details</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="card-body">
                                                            <form action="{% url 'offer-details' %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="offer_id" value="{{ offer.id }}"> 
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">Offer Type:</label>
                                                                    <div class="col-md-4">
                                                                        <select class="form-select" name="offer_type">
                                                                            <option value="">--------</option>
                                                                            {% for type in offer_types %}
                                                                                <option value="{{ type.id }}" {% if type.id == offer.offer_type.id %}selected{% endif %}>
                                                                                    {{ type.offer_type }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">Package Name:</label>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control bg-white" name="document_name" value="{{ offer.document_name }}">
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">City:</label>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control bg-white" name="city" value="{{ offer.city }}">
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">Hotel Name:</label>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control bg-white" name="hotel_name" value="{{ offer.hotel_name }}">
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">Address:</label>
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control bg-white" name="address" value="{{ offer.address }}">
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">Limited Time Offer:</label>
                                                                    <div class="col-md-4">
                                                                        <select class="form-select" name="limited_time_offer">
                                                                            <option value="">--------</option>
                                                                            {% for limited in limited_time_offers %}
                                                                                <option value="{{ limited.id }}" {% if limited.id == offer.limited_time_offer.id %}selected{% endif %}>
                                                                                    {{ limited.umrah_details.package_name }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="row mb-3 align-items-center">
                                                                    <label class="col-md-2 label-small fw-bold">Description:</label>
                                                                    <div class="col-md-10">
                                                                        <textarea class="form-control" rows="5" name="description">{{ offer.description }}</textarea>
                                                                    </div>
                                                                </div>
                                                                <hr>
                    
                                                                <div class="person-btn d-flex p-2 mt-3 w-75 border rounded">
                                                                    <button type="submit" class="btn btn-sm btn-custom px-3">UPDATE</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <p class="p-2">{{ total_offer_details_num }} Offer Details</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- Add Offer Modal -->
                    <div class="modal fade modal-lg" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="offerModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="offerModalLabel">
                                        Add Offer Details
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'offer-details' %}" method="POST">
                                        {% csrf_token %}

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small fw-bold">Limited Time Offer:</label>
                                            <div class="col-md-4">
                                                <select class="form-select" name="limited_time_offer" required>
                                                    <option value="">--------</option>
                                                    {% for offer in limited_time_offers %}
                                                        <option value="{{ offer.id }}">{{ offer.umrah_details.package_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small fw-bold">Offer Type:</label>
                                            <div class="col-md-4">
                                                <select class="form-select" name="offer_type">
                                                    <option value="">--------</option>
                                                    {% for type in offer_types %}
                                                        <option value="{{ type.id }}">{{ type.offer_type }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small fw-bold">Document Name:</label>
                                            <div class="col-md-4">
                                                <input type="text" name="document_name" class="form-control bg-white" required>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small">City:</label>
                                            <div class="col-md-4">
                                                <input type="text" name="city" class="form-control bg-white">
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small">Hotel Name:</label>
                                            <div class="col-md-4">
                                                <input type="text" name="hotel_name" class="form-control bg-white">
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small fw-bold">Address:</label>
                                            <div class="col-md-8">
                                                <textarea name="address" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small fw-bold">Description:</label>
                                            <div class="col-md-10">
                                                <textarea name="description" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="person-btn d-flex p-2 mt-3 w-75 border rounded">
                                            <button type="submit" class="btn btn-sm btn-custom px-3">SAVE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                   
                </div>
            </div>

            <!-- modal end -->

            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
{% endblock %}