  {% extends "base.html" %}
  {% load static %}
  {% block body %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row pb-5">
                <div class="col-12">
                  <div class="swiper social-swiper position-relative">
                    <div class="swiper-wrapper px-5 px-md-0 mx-auto">
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/visa.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Visas</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/plane.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Flights</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/umraha.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Umrah</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/travel-and-tourism.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            
                            <p class="mb-1">Tours</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/car-rental.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Tours</p>
                            <h4 class="card-title mb-3">123</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between w-100 position-absolute z-5 bottom-50">
                      <div class="swiper-custom-button-prev">
                        <i class="bx bx-chevron-left bg-white border p-2 rounded-circle shadow-sm"></i>
                      </div>
                      <div class="swiper-custom-button-next">
                        <i class="bx bx-chevron-right bg-white border p-2 rounded-circle shadow-sm"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pb-5">
                <div class="col-12">
                  <div class="swiper social-swiper position-relative">
                    <div class="swiper-wrapper px-5 px-md-0 mx-auto">
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/visa.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Visas requests</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/plane.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Flights requests</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/umraha.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Umrah requests</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/travel-and-tourism.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            
                            <p class="mb-1">Tours requests</p>
                            <h4 class="card-title mb-3">123</h4>
                            
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card h-100">
                          <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between mb-4">
                              <div class="avatar flex-shrink-0">
                                <img src="{% static 'assets/img/car-rental.png' %}" alt="chart success" class="rounded">
                              </div>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="icon-base bx bx-dots-vertical-rounded text-body-secondary"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                              </div>
                            </div>
                            <p class="mb-1">Tours requests</p>
                            <h4 class="card-title mb-3">123</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between w-100 position-absolute z-5 bottom-50">
                      <div class="swiper-custom-button-prev">
                        <i class="bx bx-chevron-left bg-white border p-2 rounded-circle shadow-sm"></i>
                      </div>
                      <div class="swiper-custom-button-next">
                        <i class="bx bx-chevron-right bg-white border p-2 rounded-circle shadow-sm"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row w-100 align-items-center">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>User</th>
                            <th>Status</th>
                            <th>Bookings</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John Doe</td>
                            <td><span class="badge bg-primary rounded-pill">Active</span></td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>John Doe</td>
                            <td><span class="badge bg-secondary rounded-pill">InActive</span></td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>John Doe</td>
                            <td><span class="badge bg-danger rounded-pill">Cancelled</span></td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>John Doe</td>
                            <td><span class="badge bg-danger rounded-pill">Cancelled</span></td>
                            <td>12</td>
                          </tr>
                          <tr>
                            <td>John Doe</td>
                            <td><span class="badge bg-success  rounded-pill">Reset</span></td>
                            <td>12</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                     <div class="card-body">
                          <div class="card-body px-0">
                            <div class="tab-content p-0">
                              <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                                <div id="incomeChart"></div>
                              </div>
                            </div>
                     </div>
                  </div>
                </div>
              </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
              </div>
              <div class="row w-100 py-5">
                <div class="col-12">
                  <div class="swiper reviews-swiper position-relative">
                    <div class="swiper-wrapper px-5 px-md-0 mx-auto">
                     <div class="swiper-slide">
                          <div class="card">
                            <div class="row align-items-center justify-content-center">
                              <div class="col-md-4">
                                <img class="ms-5 card-img-left rounded-circle " width="100" src="{% static 'assets/img/elements/12.jpg' %}" alt="Card image" />
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">John Wick</h5>
                                  <span class="text-warning"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i></span>
                                  <p class="card-text">
                                    This is a wider card with supporting text below as a natural lead-in to additional content.
                                    This content is a little bit longer.
                                  </p>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card">
                          <div class="row align-items-center justify-content-center">
                            <div class="col-md-4">
                              <img class="ms-5 rounded-circle card-img-left" width="100" src="{% static 'assets/img/elements/17.jpg' %}" alt="Card image" />
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">Minhaj Haider</h5>
                                <span class="text-warning"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i></span>
                                <p class="card-text">
                                  This is a wider card with supporting text below as a natural lead-in to additional content.
                                  This content is a little bit longer.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card">
                          <div class="row align-items-center justify-content-center">
                            <div class="col-md-4">
                              <img class="ms-5 rounded-circle card-img-left" width="100" src="{% static 'assets/img/elements/17.jpg' %}" alt="Card image" />
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">Minhaj Haider</h5>
                                <span class="text-warning"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i></span>
                                <p class="card-text">
                                  This is a wider card with supporting text below as a natural lead-in to additional content.
                                  This content is a little bit longer.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card">
                          <div class="row align-items-center justify-content-center">
                            <div class="col-md-4">
                              <img class="ms-5 rounded-circle card-img-left" width="100" src="{% static 'assets/img/elements/17.jpg' %}" alt="Card image" />
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">Minhaj Haider</h5>
                                <span class="text-warning"><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i><i class='bx bxs-star'></i></span>
                                <p class="card-text">
                                  This is a wider card with supporting text below as a natural lead-in to additional content.
                                  This content is a little bit longer.
                                </p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     </div>
                    <div class="d-flex justify-content-between w-100 position-absolute z-5 bottom-50">
                      <div class="swiper-custom-button-prev">
                        <i class="bx bx-chevron-left bg-white border p-2 rounded-circle shadow-sm"></i>
                      </div>
                      <div class="swiper-custom-button-next">
                        <i class="bx bx-chevron-right bg-white border p-2 rounded-circle shadow-sm"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
              
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    {% endblock %}