{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row w-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0 fs-5">Select person type to change</p>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"><i class='bx bx-plus'></i> Add person type</button>
                    </div>
                    <!-- seacrch input -->
                    <form action="">
                        <div
                            class="search-person border-outline-dark col-8 bg-secondary-subtle p-1 d-flex mt-2 text-muted">

                            <div class="input-group  border-outline-dark">
                                <span class="input-group-text bg-white "><i
                                        class="fa-solid fa-magnifying-glass text-muted"></i></span>
                                <input type="text" class="form-control bg-white">

                            </div>


                            <button class="btn btn-white bg-white border ms-2">Search</button>
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="card-body">
                                <p class="mb-0 fs-5">Add Person Type</p>
                                <form action="">
                                    <div class="d-flex mt-3">
                                        <label class="me-2 mt-2">Visa details:</label>
                                        <select class="form-select w-25 me-2">
                                            <option>--------</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                        </select>
                                        <div class="mt-2">
                                            <i class="fa-solid fa-pen text-light"></i>
                                            <i class="fa-solid fa-plus text-success fs-5"></i>
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-3">
                                        <label class="me-2 mt-2">Person Type:</label>
                                        <div class="input-group w-25 border-outline-dark">
                                            <input type="text" class="form-control bg-white">
                                        </div>
                                    </div>
                                    <div class=" person-btn d-flex p-2 mt-3 w-75  border rounded">
                                        <button class="btn btn-custom px-3">SAVE</button>
                                        <button class="btn btn-custom ms-2 px-3">Save and add another</button>
                                        <button class="btn btn-custom ms-2 px-3">Save and continue editing</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <form action="" method="POST">
                        <div class="d-flex align-items-center py-3 personselect">
                            <label class="me-2">Action:</label>
                            <select class="form-select w-25 me-2">
                                <option>--------</option>
                                <option>Option 1</option>
                                <option>Option 2</option>
                            </select>
                            <button type="submit" class="btn btn-sm bg-secondary-subtle border">Go</button>
                            <span class="ms-2">0 of 2 selected</span>
                        </div>
                    </form>

                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>ID</th>
                                <th>VISA DETAILS</th>
                                <th>PERSON TYPE</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td> UAE (E-Visa)</td>
                                <td>Retired Person</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2</td>
                                <td> UAE (E-Visa)</td>
                                <td>Business Owner</td>
                            </tr>


                            <!-- Modal -->

                            <!-- modal end -->
                            <!-- <td class="d-flex flex-row gap-2">
                    <a href="#" class="btn btn-success">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                  </td> -->
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <!-- modal end -->

        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
{% endblock %}