{% extends "base.html" %}
{% load static %}
{% block body %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row w-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0 fs-5">Visa Details</p>
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                            data-bs-target="#addModal"><i class='bx bx-plus'></i> Add visa details</button>
                    </div>
                    <!-- seacrch input -->
                    <form action="{% url 'visa-details' %}" method="GET">
                        {% csrf_token %}
                        <div class="search-person border-outline-dark col-12 bg-secondary-subtle p-1 d-flex mt-2 text-muted">
                            <div class="input-group border-outline-dark">
                                <span class="input-group-text bg-white">
                                    <i class="fa-solid fa-magnifying-glass text-muted"></i>
                                </span>
                                <input type="text" class="form-control bg-white" name="search" placeholder="Search detail..." value="{{ search_query }}">
                            </div>
                            <button type="submit" class="btn btn-white bg-white border ms-2">Search</button>
                        </div>
                    </form>
                    <div class="col-12 mt-3">
                        <div class="row">
                            <div class="col-lg-12 mt-3">
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>ID</th>
                                            <th class="text-uppercase">visa requirements </th>
                                            <th class="text-uppercase">person type</th>
                                            <th class="text-uppercase">document name</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>1</td>
                                            <td>Requirements for UAE</td>
                                            <td>Business Owner</td>
                                            <td>identification documents</td>
                                            <td class="d-flex flex-row gap-2">
                                                <div>
                                                    <button class="btn btn-warning btn-sm mx-1 edit-btn" 
                                                        data-id="{{ visa.id }}" 
                                                        data-category="{{ visa.visa_category }}" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#updateModal{{ visa.id }}">
                                                        <i class="bx bx-edit-alt"></i>
                                                    </button>
                                                    <a href="#" 
                                                       class="btn btn-danger btn-sm mx-1" 
                                                       onclick="return confirm('Are you sure you want to delete this?');">
                                                        <i class="bx bx-trash"></i>
                                                    </a>
                                                </div>
                                            </td>    
                                        </tr>
                                    </tbody>
                                </table>
                                <p class="p-2">1 visa documents</p>
                                <p class="p-2">{{total_visas_details_num}} Visa Details</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Add Modal -->
                    <div class="modal fade modal-lg" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">

                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="card-body">
                                    <p class="mb-0 fs-5">Add visa details</p>
                                    <form action="">
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 col-sm-2 col-2 label-small fw-bold ">Visa requirement:</label>
                                            <div class="col-md-4 col-sm-4 col-4">
                                                <select class="form-select  ">
                                                    <option>--------</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa-solid fa-pen text-light"></i>
                                                <i class="fa-solid fa-plus text-success fs-5"></i>
                                                <i class="fa-solid fa-eye"></i>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small  ">Person type:</label>
                                            <div class="col-md-4 ">
                                                <select class="form-select  ">
                                                    <option>--------</option>
                                                    <option>Business owner</option>
                                                    <option>Retired person</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <i class="fa-solid fa-pen text-light"></i>
                                                <i class="fa-solid fa-plus text-success fs-5"></i>
                                                <i class="fa-solid fa-eye"></i>
                                            </div>
                                        </div>
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small  ">Adult Price:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control bg-white">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-md-2 label-small fw-bold"> Document Description:</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class=" person-btn d-flex p-2 mt-3 w-75  border rounded">
                                            <button class="btn btn-sm btn-custom px-3">SAVE</button>
                                            <button class="btn btn-sm btn-custom ms-2 px-3">Save and add
                                                another</button>
                                            <button class="btn btn-sm btn-custom ms-2 px-3">Save and continue
                                                editing</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
{% endblock %}